a{
	text-decoration:none;
	color:orange;
}
a:hover{
	color:pink;
}
#tela_login{
	margin:0 auto;
	margin-top:20%;
	padding:10px;
	width:200px;
	height:170px;
	background:#555555;
	text-align:center;
	border-radius:20px 0px 20px 0px;
}
#informacoes input{
	margin:3px;
	width:80px;
}
#tela_login button{
	width:100%;
	margin-top:25px;
	padding:5px;
}
main div,header nav{
float:left;
}
main{
	margin:0 auto;
	width:800px; /* Largura Principal */
	font-family:tahoma,arial,verdana;
}

#logo{

	height:50px;
	width:200px;
text-align:center;
background:#eeeeee;
}

#pesquisar{

	height:50px;
	width:400px;
	background:yellow;
}

nav{
	height:50px;
	width:200px;

}
nav #menu{
	width:100px;

	height:50px;
}

nav #menu ol li{
	list-style:none;
	background:#cccccc;
	height:50px;
	margin-left:-40px;
	margin-top:-16px;
	text-align:center;
	padding-top:15px;
	
}
nav #menu ol li:hover{
	background:#888888;
}

nav #menu ol li ol {
	display:none;
	position:absolute;
	margin-top:30px;
}

nav #menu ol li:hover > ol {
	display:block;
}


nav #foto{
	width:100px;
	background:#777;
	height:50px;
	text-align:center;
		padding-top:15px;

}

#informacoes{
	width:500px;
	height:250px;
	background:#ccc;

}
#mapas{
	width:300px;
	height:250px;
	background:#aaa;
}
#mapas section{
	width:280px;
	height:100px;
	background:#ffffff;
	margin:5px;
	padding:5px;
}
#mapas section:hover{
		box-shadow:1px 1px 10px #FF0099;	
		background:#ccc;
}
#mapas section:active{
		border:1px solid red;	
}

#informacoes section{
	width:480px;
	height:210px;
	background:#ffffff;
	margin:5px;
	padding:5px;
	box-shadow:1px 1px 10px #000;	
}

.resultado{
	background-color:gray;
	margin:2px;
	padding:2px;
	WIDTH:230PX;
}

.resultado:hover{
	background-color:#ccc;
}
.resultado h3,h4{
	margin:0px;
	padding:0px;
}
.resultado h4{
color:#bbbbbb;
}
.resultado h3{
color:#fff;
}
.infor_user h4{
	floAt:left;
}

footer{
	text-align:center;
	width:100%;
	height:50px;
	background:#ffcc99;
	clear:both;
}






