#principal{
	width:500px; /* largura geral */ 
	background:green;
	margin:0 auto;
}
header {
width: 500px;
height:50px;
background:#0000ff;
color:#FFFFFF;}

nav{
width: 500px;
height:50px;
background:#00FF00;
color:#FFFFFF;
}
aside{
width: 200px;
height:50px;
background:red;
color:#FFFFFF;
float:left;
}

section{
width: 300px;
height:300px;
background:pink;
color:#FFFFFF;
float:left;
}
footer{
width: 500px;height:50px;background:black;color:#FFFFFF;
float:left;
}